.painel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
    padding: 5px;
    margin: 0;
}

.titulo {
    font-size: 1.3rem;
    color: #94A3B8;
    margin-bottom: 8px;
}

.contador {
    font-size: 2.3rem;
    margin-bottom: 16px;
    color: #F8FAFC;
    text-align: center;
}

.pergunta {
    font-size: 1.2rem;
    margin-bottom: 24px;
    color: #F8FAFC;
    text-align: center;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.botao {
    width: 240px;
    background: #1E293B;
    padding: 14px;
    border-radius: 10px;
    border: none;
    color: #F8FAFC;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 1.1rem;
    font-weight: bold;
}

.resultado {
    font-size: 1.7rem;
    color: #f8fafc;
}

.botao:hover {
    transform: translateY(-2px);
}

.certo {
    background: #22C55E;
}


.painel_proximaPergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
}

.botaoProximaPergunta {
    background: #1E293B;
    padding: 14px;
    border-radius: 10px;
    border: none;
    color: #F8FAFC;
    cursor: pointer;
    transition: 0.2s ease;
     text-decoration: none;
}

.botaoFimDoJogo {
    background: #1E293B;
    padding: 14px;
    border-radius: 10px;
    border: none;
    color: #F8FAFC;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
    text-align: center;
}