.titulo {
    color: #E6EEF3;
}

.botaoVoltar {
    width: 170px;
    border: 1px solid #E6EEF3;
    background: transparent;
    color: #E6EEF3;
    padding: 5px;
    
}

.painel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pontuacao {
    color: #E6EEF3;
    font-size: bold;
}