.titulo {
    font-size: 2rem;
    margin-bottom: 16px;
    color: #E6EEF3;
}

.botaoVoltar {
    background: #1E293B;
    padding: 14px;
    border-radius: 10px;
    border: none;
    color: #F8FAFC;
    cursor: pointer;
    transition: 0.2s ease;

}

.painel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pontuacao {
    font-size: 1.2rem;
    margin-bottom: 24px;
    color: #94A3B8;
}